<table>
  <thead>
    <tr>
      <th>Event Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <% @events.each do |event| %>
  <tr>
    <td><%= event.title %></td>
    <td><%= event.desc %></td>
  </tr>
  <% end %>
</table>
