<% if @event.attendees.any? %>
  <% @event.attendees.each do |attendee|  %>
    <li><%= attendee.name %></li>
  <% end %>
<% else %>
  <h3>No attendees yet!</h3>
<% end %>

<%= form_for(current_user.attendances.build) do |f| %>
  <%= hidden_field_tag :event_id, @event.id %>
  <%= f.submit 'Attend' %>
<% end %>
